.calculator{
	border: 0.2rem solid black;
	background-color: rgb(144, 144, 253);
	height: 40rem;
	width: 24rem;
	margin: auto;
	padding: 1.25rem;
	border-radius: 2.5rem;
}

input[type="text"] { 
	padding: 20px 30px; 
	width: 350px;
	height: 100px;
	font-size: 3.5rem; 
	font-weight: bold; 
	border: none; 
	border-radius: 1.25rem; 
	border: 2px solid black; 
} 

input[type="button"] { 
	width: 100%; 
	padding: 20px 40px 20px 40px; 
	background-color: #white; 
	color: rgb(144, 144, 253); 
	font-size: 24px; 
	font-weight: bold; 
	border: none; 
	border-radius: 1.25rem; 
} 

.td{
	transition-duration: 0.4s;
}

.td:hover {
  background-color: #4CAF50; 
  color: white;
}
